@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.navigation{
    min-height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
}
.logo-container{
    align-items: center;
    display: flex;
    width: 50%;
    gap: 10px;
}
.logo-container img{
    width: 50px;
    height: 25px;
    object-fit: cover;
}
.logo-container p{
    font-size: 30px;
}
.g-section{
    color: #FF42A5;
}
.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-container a{
    text-decoration: none;
    font-size: 15px;
}
.nav-items-container .follow-btn{
    background-color: #cac8d0;;
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 5px;
    color: black;
    text-align: center;
    
}
.nav-items-container .login-btn i{
    gap: 5px;
}
.icon, .icon1{
    margin-right: 7px;
}
.icon1{
    margin-left: 5px;
}
/* navigation ends here */

/* Banner starts here */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    background: url(Group\ 14.png);
}
.banner p{
    margin-bottom: 10px;
}
.banner .banner-detail .p1{
    font-weight: 700;
    font-size: 35px;
}
.banner .banner-detail .p2{
    font-weight: 700;
    font-size: 70px;
    background-image: linear-gradient(to bottom,#6e4ad1,#d2279f);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 10px;
}
.banner-detail{
    margin-left:133px;
}
.sign-go-btn{
    margin-top: 15px;
}
.sign-go-btn .sign-in{
    background-color: #FF42A5;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 15px;
}
.sign-go-btn .go-rogue{
    background-color: #4EC5F7;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 15px;
    margin-left: 10px;
}
.banner-img img{
    height: 300px;
    width: 100%;
    padding: 0 120px;
}
/* Banner ends here */

/* banner reverse starts here */
.banner-reverse{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    flex-direction: row-reverse;
    margin-bottom: 50px;
}
.banner-reverse-detail h2{
    background-image: linear-gradient(to bottom,#6e4ad1,#d2279f);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 30px;
}
.banner-reverse-detail h5{
    font-weight: 200;
    margin-bottom: 20px;
}
.banner-reverse-detail h3{
    font-size: 20px;
    font-weight: 700;
}
.banner-reverse-detail .know-more{
    background-color: #FF42A5;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.banner-reverse-detail p{
    font-size: 15px;
    font-weight: 550;
    margin-bottom: 8px;
}
.banner-reverse-detail{
    margin-right: 130px;
    text-align: right;
}
 .banner-reverse-img img{
    width: 100%;
    height: 250px;
    margin-left: 90px;
}
/* banner reverse ends here */

/* Online games part starts here */
.online-games{
    margin-bottom: 60px;
}
.online-games .card-details{
    text-align: center;

}
.online-games .card-details .f-vdos{
    background-image: linear-gradient(to bottom,#6e4ad1,#d2279f);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 1000;
}
.online-games .card-details .game-detail{
    font-weight:700;
    font-size: 25px;
    margin-bottom: 8px;
}
.online-games .card-details h6{
    font-weight: 300;
    margin-bottom: 30px;
}
.online-games .card{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-inline: 10%;
}
.card-item{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-item p{
    width: 100%;
}

.card-item img{
    border-radius: 5px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(67, 66, 66, 0.7);
    border: 3px solid #FF42A5;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #fff;
    cursor: pointer;
  }
  
  .overlay:hover {
    opacity: 1;
  }
  
  .overlay .icon {
    width: 50px; 
    height: 50px;  
    border-radius: 100%;
  }
  
  .watch-now {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
  }
/* Online games part ends here */

/* position part starts here */
.relative-position{
    display: flex;
    padding-inline: 10%;
    gap: 200px;
    align-items: center;
}
.relative-position-detail{
    text-align: right;
}
.relative-position-detail .details1{
    width: 350px;
}
.relative-position-detail1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.img1 img{
    height: 400px;
    width: 400px;
    position: relative;
}
.img2 img{
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: -1000px;
    right: 480px;
}

/* Careers parts starts here */
.careers{
    display: flex;
    align-items: center;
    background-color: #FF42A5;
    margin-bottom: 70px;
    margin-top: 80px;
}

.careers .career{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.careers .car-det{
    font-size: 15px;
    margin-bottom: 20px;
}
.all-positions-detail p{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
}
.all-positions-detail2 p{
    text-align: right;
    font-size: 12px;
}
.all-positions-detail{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.careers img{
    height: 600px;
    width: 600px;
}
.all-positions {
    align-items: center;
    margin-left: 133px;
    color: white;
}
.all-positions-img img{
    margin-left: 90px;
}

.all-positions .btn2{
    border: none;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    color: #FF42A5;
    font-weight: 700;
}
/* Career parts end here */

/* Logo part starts here */
.logo img{
    height: 50px;
    width: 50px;
}
.logo{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    background-color: #f6f5f9ac;
    border-radius: 20px;
}
.logo-title1{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin-bottom: 30px;
    width: max-content;
    margin: 0 auto;
}
.logo-title2{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 50px;
}
   
.logo{
    position: relative;
}
.logo img{
    display: block;
}
.logo:hover{
    border: 2px solid palevioletred;
    padding: 2px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Logo part ends here */

/* Footer part starts here */
.footer-part{
    background-color: #0B0223;
    justify-content: center;
    padding: 20px 0 70px 0;
    text-align: center;
}
.footer-part .logo-frame{
    margin-top: 40px;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.logo-frame img{
    width: 50px;
    height: 25px;
    object-fit: cover;
}
.logo-frame p{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.info{
    justify-content: center;
    color: white;
   
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: max-content;
    margin: 0 auto;
    gap: 20px;
    font-weight: 700;
    margin-top: 25px;
}

.social-logo{
    justify-content: center;
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    margin-bottom: 25px;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
.terms{
    color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: max-content;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
    font-size: 10px;
}
.footer-part .last-para{
    color: white;
    justify-content: center;
    margin-top: 15px;
    font-size: 10px;
}
/* Footer part ends here */


/* Mobile large responsive starts here */

@media screen and (max-width: 576px) {
    
    .logo-container, .banner-detail{
        justify-content: center;
        margin-bottom: 10px;
    }
    .banner-detail{
        text-align: center;
        margin-left: 0;
    }
    .nav-items-container a{
        margin-bottom: 10px;
    }
    .navigation, .nav-items-container, .banner, .banner-reverse, .relative-position, .careers{
        flex-direction: column;
    }
    
    .banner-img img{
        height: 100%;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .banner-reverse-detail{
        margin: 0 auto;
        margin-right: 30px;
        margin-left: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .banner-reverse-img img {
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }
    .relative-position-detail{
        text-align: center;
    }
    .img1 img{
        width: 100%;
    }
    .img2 img{
        width: 150px;
        height: 150px;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .relative-position-detail-img {
        top: -90px;
        position: relative;
    }
    .online-games .card{
        grid-template-columns: repeat(1,1fr);
    }
    .all-positions{
        text-align: center;
        margin: 0 auto;
    }
    .logo-title2 {
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
    .logo-title1 {
        grid-template-columns: repeat(2,1fr);
        width: max-content;
        margin: 0 auto; 
        max-width: 600px;
    }
    
    .logo h5{
        font-size: 12px; 
    } 
    .social-logo, .info{
        grid-template-columns: repeat(3,1fr);
    }
    .terms{
        grid-template-columns: repeat(2,1fr);
    }
    .careers .all-positions-img img{
        height: 100%;
        width: 100%;
        margin: 0 0 0 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .navigation {
        flex-direction: column;
        align-items: center;
    }
    .logo-container {
        width: 100%;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    .logo-container img {
        width: 50px;
        height: 25px;
        object-fit: cover;
    }
    .logo-container p {
        font-size: 25px;
    }
    .nav-items-container {
        width: 100%;
        margin-top: 15px;
        justify-content: center;
        gap: 20px; 
    }
    .nav-items-container a {
        margin-bottom: 5px;
    }
    
    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        background: url(Group\ 14.png);
        padding: 0 30px;
       
    }
    .banner-detail {
        margin-left: 0;
    }
    .banner-img img {
        height: 300px;
        width: 100%;
        margin: 0;
    }
    .banner-reverse {
        margin-top: 20px;
        flex-direction: column;
    }
    .banner-reverse-detail {
        text-align: center;
        margin-right: 0;
    }
    .banner-reverse-img img {
        width: 100%;
        height: 200px;
        margin: 0;
    }
    .online-games .card {
        grid-template-columns: repeat(2, 1fr);
    }
    
      .relative-position-detail-img {
        margin-right: 30px; 
        top: 0;
        position: relative;
    }
    .img1 img {
        width: 400%; 
        max-height: 450px; 
        margin: 0 auto;
        display: block;
    }
    .img2 img {
        height: 120px;
        width: auto;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .logo-title1 {
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
    }
    .logo-title2 {
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
    }
    .logo h5 {
        font-size: 12px;
    }
    .careers .all-positions-img img {
        height: 200px;
        width: 100%;
        margin: 0;
    }
    .footer-part .info {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-part .social-logo {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-part .terms {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-part .last-para {
        font-size: 8px;
    }
}

